
/* ==UserStyle==
@name           google.com 
@namespace      github.com/openstyles/stylus
@version        1.0.1
@description    Black
@author         Vitaly Zdanevich
==/UserStyle== */

@-moz-document url-prefix("https://www.google.com") {

	.CvDJxb {
		top: -6px !important;
	}

	/* Input field */
	.RNNXgb {
		width: 70vw;
	}

	.e9EfHf {
		margin: 0 !important;
	}

	.e9EfHf {
		padding: 0;
	}

	body,
	.sfbg,
	.appbar,
	.Ww4FFb,
	.lj6MO,
	.Ffrp4e,
	.frDyzc,
	.FalWJb,
	.s8GCU,
	.Lj9fsd,
	.jZWadf,
	.dG2XIf
	{
		background: #000 !important;
	}

	.appbar,
	.minidiv .RNNXgb,
	.Hwkikb.WY0eLb,
	.MsCHpb,
	.YeThId,
	.NZmxZe,
	.GKS7s
	{
		border: 0;
	}

	.iRPzcb,
	.Bi9oQd,
	.KFFQ0c,
	.cEPPT
	{
		display: none;
	}


}
